/* Applying custom bebas font family to body text */
body {
    font-family: "Bebas Neue", sans-serif;
}

/* Custom Colors overriding bootstrap in CSS */
.skip-link-custom-color {
    background-color: #4C5C52;
}

.homepage-text-custom-color {
    color: #2B2B2B;
}

.navbar-bg-custom {
    background-color: #E2E5E9;
}

.button-bg-custom {
    background-color: white;
}

.bg-custom-green {
    background-color: #4C5C52 !important;
}

.text-green {
    color: #72827C;
}

.textbox-custom-color {
    background-color: #716F6F;
}

.cta-text-custom-color {
    color: #4C5C52;
}

.company-header-custom-color {
    color: #46534A;
}

.send-btn-custom-bg {
    background-color: #4C5C52;
}

.body-bg {
    background-color: #E2E5E9;
}

.message-bg-white {
    background-color: white;
}


/* Grow animation used from public hover.css library */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

/* Styling the fonts */

/* Header font */
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Subheader & text font */
.inter-sub-header {
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.inter-send-btn {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.collection-inter {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/* Custom letter spacing */
.spacing-custom {
    letter-spacing: 0.5em;
}

.navbar-spacing-custom {
    letter-spacing: 0.1em
}

.letter-spacing-custom {
    letter-spacing: 0.2em;
}

.send-button-spacing {
    letter-spacing: 0.1em;
}

/* General styling and bootstrap overriding */
.img-wrapper {
    position: relative;
    height: 300px;
    overflow: hidden;
}
  
.img-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.caption-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0.5rem;
    background-color: #6c757d; 
    color: white;
    padding: 0.5rem 1rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.centered-text {
    text-align: center;
}

/* Styling for smaller screens */
@media (max-width: 991.98px) {
    /* Changing position of navbar for smaller screens */
    .nav-content {
        width: 100%;
        margin-top: 1rem;
        text-align: center;
    }

    .about-text-wrapper {
        position: static !important;
        margin-top: 1rem;
    }
}

/* Styling for larger screens */
@media (min-width: 992px) {
    .about-text-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      margin-top: 10rem;
      width: 100%;
    }
  
    .position-relative {
      position: relative;
    }

    .about-text-wrapper p {
        background-color:#E2E5E9;
        margin-top: 20px;
        padding: 20px;
        border-radius: 10px;
    }
}